<script setup>
import { collect_resources, simulate_resource_delta } from "@/simulation.js";
import { inject, toRef, triggerRef, watch } from "vue";
import { Component } from "../../Component";
import { Ship } from "../../Ship";
import { data } from "@/globals.js";
import { round10 } from "expected-round";
//components
import VSwitchCase from "@lmiller1990/v-switch";
//components > modules
import BuffModule from "./modules/BuffModule.vue";
import LevelledBuffModule from "./modules/LevelledBuffModule.vue";
import QuartersModule from "./modules/QuartersModule.vue";
import WeaponDirectModule from "./modules/WeaponDirectModule.vue";
import WeaponGuidedModule from "./modules/WeaponGuidedModule.vue";


defineEmits(["update:module_enabled", "update:simulation_state"]);
const props = defineProps({
    ship: {
        type: Ship,
        required: true,
    },
    component: {
        type: Component,
        required: true,
    },
    name: {
        type: String,
        required: true,
    },
    module: {
        type: Object,
        required: true,
    },
    index: {
        type: Number,
        required: true,
    },
});

const simulation = inject("simulation");
const state = toRef(props.component._simulation_state, props.index);
state.value = {};
var enabled = toRef(state.value, "_enabled", false);

/**
 * {inert_fluid:4, energy:3} => "4 Inert Fluid + 2 Energy"
 * @param {Object.<str,int>} io 
 */
function converter_summary(io) {
    const parts = [];
    for (let key in io) {
        let resource = data.resources[key]?.name ?? key.toLowerCase();
        let amount = io[key] * props.component.volume;
        parts.push(`${round10(amount, -3)} ${resource}`);
    }
    return parts.join(" + ");
}


watch(
    () => [props.component.volume, enabled.value],
    () => {
        let new_state = state.value;
        if (enabled.value == false) {
            console.log("> resetting sim state");
            new_state.resources = undefined;
            new_state.thrust = undefined;
            return;
        }
        switch (props.name) {
            case "engine":
                new_state.thrust = props.module.thrust * props.component.volume;
                new_state.resources = collect_resources(props.module.alternator, props.module.fuel, props.component.volume);
                break;
            case "converter":
                new_state.resources = collect_resources(props.module.output, props.module.input, props.component.volume);
                break;
            case "buff":
            case "weapon_guided":
            case "weapon_direct":
                new_state.resources = collect_resources(props.module.active, {}, props.component.volume);
                break;
        }
        //emit("update:simulation_state", props.index, new_state);
    }
);
</script>

<template>
    <div>
        <v-switch-case :case="name">
            <template #crew>
                Crew:
                <span v-if="module.strategic">
                    {{ (module.strategic?.base ?? 0) + (module.strategic?.per_volume ?? 0) * component.volume }}
                    <abbr title="Maintenance">Maint.</abbr>
                </span>
                <span v-if="module.strategic && module.tactical">&bull;</span>
                <span v-if="module.tactical">
                    {{ (module.tactical?.base ?? 0) + (module.tactical?.per_volume ?? 0) * component.volume }}
                    <abbr title="">Combat</abbr>
                </span>
            </template>
            <template #buff>
                <BuffModule v-model:active="enabled" :ship="ship" :scaling="{volume: component.volume}" :module="module" />
            </template>
            <template #levelled_buff>
                <LevelledBuffModule :ship="ship" :component="component" :module="module" />
            </template>
            <template #engine>
                <v-switch
                    v-model="enabled"
                    hide-details="auto"
                    density="compact"
                    color="simulation"
                    :disabled="!simulation"
                >
                    <template #label>
                        Engine: {{ module.thrust * component.volume }} Thrust
                    </template>
                </v-switch>
                <!-- todo improve the layout of this-->
                <p><b>&gt; Fuel:</b> {{ converter_summary(module.fuel) }}/turn</p>
                <p><b>&gt; Burn Time:</b> {{ ship.total_tanks()[Object.keys(module.fuel)[0]]/(Object.values(module.fuel)[0]*component.volume) }} turns</p>
                <p v-if="module.alternator">
                    <b>&gt; Alternator:</b> {{ converter_summary(module.alternator) }}/turn
                </p>
            </template>
            <template #converter>
                <v-switch
                    v-model="enabled"
                    hide-details="auto"
                    density="compact"
                    color="simulation"
                    :disabled="!simulation"
                >
                    <template #label>
                        <span style="text-transform: capitalize">
                            <template v-if="module.input == null">
                                Generator: <span class="mono">{{ converter_summary(module.output) }}</span>
                            </template>
                            <template v-else-if="module.output?.HEAT < 0">
                                Radiator: {{ converter_summary(module.input) }} &Rightarrow; {{
                                    converter_summary(module.output)
                                }}
                            </template>
                            <template v-else>
                                Converter: {{ converter_summary(module.input) }} &Rightarrow; {{
                                    converter_summary(module.output)
                                }}
                            </template>
                        </span>
                    </template>
                </v-switch>
            </template>
            <template #tank>
                Tank: {{ component.volume * 10 }} {{ module.stores }}
                <span v-if="simulation">&bull; &Delta; {{ round10(simulate_resource_delta(ship, module.stores), -3)
                }}</span>
            </template>
            <template #quarters>
                <QuartersModule :ship="ship" :component="component" :module="module" />
            </template>
            <template #stores>
                Stores:
                <span v-if="module.unlimited">{{ module.crew * component.volume }} crew, &infin; days</span>
                <div v-else>
                    <p>{{ module.crew * component.volume }} Crew × Strategic Turns</p>
                    <p>
                        = {{ Math.floor(module.crew * component.volume / ship.total_crew_worstcase()) }} Strategic Turns
                        with {{ ship.total_crew_worstcase() }} crew
                    </p>
                </div>
            </template>
            <template #recreational>
                Recreational: {{ module }}
            </template>
            <template #command>
                Command: {{ module }}
            </template>
            <template #ftl_drive>
                FTL: Range <b class="mono">{{ component.jump_range(ship.total_mass()) }}</b>
                <p><b>&gt; energy: {{ Math.ceil(module?.jump_tac_energy * component.volume) }}</b></p>
            </template>
            <template #weapon_direct>
                <WeaponDirectModule
                    v-model:module_enabled="enabled"
                    :ship="ship"
                    :component="component"
                    :module="module"
                />
            </template>
            <template #weapon_guided>
                <WeaponGuidedModule
                    v-model:module_enabled="enabled"
                    :ship="ship"
                    :component="component"
                    :module="module"
                />
            </template>
            <template #default>
                <v-card color="warning" variant="outlined" style="max-height:200px;overflow-y:scroll">
                    <v-card-text>
                        <b><v-icon icon="fas fa-warning" /> Unknown Module</b>
                        <pre>{{ name }}: {{ module }}</pre>
                    </v-card-text>
                </v-card>
            </template>
        </v-switch-case>
    </div>
</template>