<script setup>
import { inject, ref } from "vue";

defineEmits(["update:name", "update:prefix", "update:callsign"]);
defineProps({
    name: { 
        type: String,
        required: true,
    },
    prefix: { 
        type: String,
        required: true,
    },
    callsign: { 
        type: String,
        required: true,
    },
    readonly: { 
        type: Boolean,
        required: true,
    },
});

const ship_edit_dialog = ref(false);
const simulation = inject("simulation");
</script>

<template>
    <section>
        <h2 class="d-flex align-center">
            <span
                v-if="prefix"
                class="d-print-none text-grey-darken-1"
                style="font-family:'Roboto Slab'; font-size:0.8em; position: absolute;"
            >
                <span
                    style="position: relative; right: 100%;"
                    class="pr-2"
                >{{ prefix }}</span>
            </span>
            <span
                v-if="prefix"
                class="d-none d-print-block"
                style="font-size:0.8em"
            >{{ prefix }}</span>
            <span style="font-weight:bolder;font-style:italic">
                <span v-if="name">{{ name }}</span>
                <span
                    v-else
                    class="mono"
                >/// UNTITLED SHIP ///</span>
            </span>
            <v-dialog
                v-if="!readonly"
                v-model="ship_edit_dialog"
                max-width="900px"
            >
                <template #activator="{ props }">
                    <v-btn
                        icon="fas fa-pencil"
                        variant="plain"
                        size="small"
                        v-bind="props"
                        aria-label="Edit Ship Name"
                        class="d-print-none"
                    />
                </template>
                <v-card theme="light">
                    <v-card-text>
                        <v-text-field
                            label="Ship Name"
                            density="compact"
                            autofocus
                            :model-value="name"
                            @keyup.esc="ship_edit_dialog = false"
                            @update:model-value="$emit('update:name', $event)"
                        >
                            <template #append-inner>
                                <v-btn
                                    icon="fas fa-dice"
                                    variant="plain"
                                    size="small"
                                    onclick="alert('ship name generator: not implemented yet!')"
                                />
                                <v-btn
                                    icon="fas fa-check"
                                    variant="plain"
                                    size="small"
                                    @click="ship_edit_dialog = false"
                                />
                            </template>
                        </v-text-field>
                        <div class="d-flex">
                            <v-text-field
                                label="Prefix (optional)"
                                density="compact"
                                hint="e.g., HMS, USS, IJN"
                                :model-value="prefix"
                                @update:model-value="$emit('update:prefix', $event)"
                            />
                            <v-text-field
                                label="Callsign (optional)"
                                density="compact"
                                hint="typically like 'Mage 2', 'Strider 1'"
                                :model-value="callsign"
                                @keyup.esc="ship_edit_dialog = false"
                                @update:model-value="$emit('update:callsign', $event)"
                            />
                            <v-select
                                disabled
                                density="compact"
                                label="#TODO: ship icons"
                            />
                        </div>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </h2>
        <p v-if="callsign">
            [{{ callsign }}]
        </p>
        <p
            v-else
            class="text-grey d-print-none"
        >
            - no callsign -
        </p>
        <p
            v-if="simulation"
            class="d-none d-print-block mono"
        >
            <em>// Simulated State</em>
        </p>
    </section>
</template>