<script setup>
import { Sortable } from "sortablejs-vue3";
import { inject } from "vue";
//model
import { Ship } from "../../Ship";
//components
import SampleDropdown from "../SampleDropdown.vue";
import ShipComponent from "./ShipComponent.vue";

const props = defineProps({
    "ship": Ship,
});

const simulation = inject("simulation");

function sim_set_all_enabled(new_state){
    for(let component of props.ship.components){
        for(let state of Object.values(component._simulation_state)){
            console.log("sim_enable_all: state=", state);
            state._enabled = new_state;
        }
    }
}
</script>

<template>
    <section id="ship-component-list">
        <h2 class="d-flex align-center flex-wrap mb-2">
            Components
            <div class="d-flex ml-auto">
                <v-btn size="small" disabled variant="plain" class="pr-0">
                    Simulation:
                </v-btn>
                <v-btn size="small" :disabled="(!simulation) || (ship.components.length == 0)" color="simulation" @click="sim_set_all_enabled(true)">
                    All
                </v-btn>
                <v-btn size="small" :disabled="(!simulation) || (ship.components.length == 0)" color="simulation" @click="sim_set_all_enabled(false)">
                    None
                </v-btn>
            </div>
        </h2>
        <div class="d-flex justify-center">
            <v-card
                v-if="ship.components.length == 0"
                tabindex="0"
                width="50%"
                min-width="min-content"
                variant="outlined"
                color="warning"
            >
                <v-card-title class="text-center mono">
                    /// NO COMPONENTS ///
                </v-card-title>
                <v-spacer />
                <v-card-text class="d-print-none text-center">
                    Add some on the right, or
                    <SampleDropdown :ship="ship" class="ml-1" button_variant="tonal" />
                </v-card-text>
            </v-card>
        </div>
        <Sortable id="component-box" :list="ship.components" item-key="_uuid" :options="{ handle: '.handle' }">
            <template #item="{ element: c }">
                <ShipComponent :component="c" :ship="ship" tabindex="1" @trash="ship.remove_component(c)" />
            </template>
        </Sortable>
    </section>
</template>

<style scoped lang="less">
@import "../../assets/variables.less";

#component-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: masonry;
    gap: 10px;
}

@media (max-width: @breakpoint-medium) {
    #component-box {
        grid-template-columns: 1fr;
    }
}

@media print {
    #component-box {
        grid-template-columns: 1fr 1fr;
    }
}
</style>