<script setup>
import { computed, inject, toRef } from "vue";
import { useDisplay } from "vuetify";
//model
import { Ship } from "../../Ship";
import { data } from "../../globals";
//components
import BuffChoiceModule from "./modules/BuffChoiceModule.vue";
import BuffModule from "./modules/BuffModule.vue";
import NumberChip from "../NumberChip.vue";
import { simulate_morale } from "../../simulation";

const props = defineProps({
    "ship": {
        type: Ship,
        required: true
    },
    "station_id": {
        type: String,
        required: true,
    }
});

const { mobile } = useDisplay();
const DEBUG = inject("DEBUG");
const LABELS = {
    biological: "Biological",
    construct: "Construct",
    infomorph: "Infomorph",
    mechanical: "Mechanical",
    brainwashed: "Brainwashed",
    any: "Don't Care",
};

const station = toRef(props.ship.combat_stations, props.station_id);
const prototype = computed(() => data.combat_stations[props.station_id]);

const total_assigned = computed(() => {
    let sum = 0;
    for (let crewtype of Object.keys(LABELS)) {
        sum += station.value[crewtype];
    }
    return sum;
});

/**
 * figure out what level we are
 */
const level = computed(() => {
    if (prototype.value.assigned_crew == undefined) return -1;
    let level = 0;
    for (let requirements of prototype.value.assigned_crew) {
        if (requirements.min_morale) {
            if(simulate_morale(props.ship) < requirements.min_morale)
                break;
        }
        if (requirements.any_crew) {
            if (requirements.any_crew <= total_assigned.value) {
                level++;
                continue;
            }
        } else if (requirements.specific_crew) {
            let outer_pass = true;
            for (let specific_def of requirements.specific_crew) {
                let inner_pass = false;
                for (let crewtype of specific_def.type) {
                    if (station.value[crewtype] >= specific_def.amount) {
                        inner_pass = true;
                        break;
                    }
                }
                if (!inner_pass) outer_pass = false;
            }
            if (outer_pass) {
                level++;
                continue;
            }
        }
        // if we get here without hitting a continue
        // we must have failed the check
        break;
    }
    return level;
});

const level_prototype = computed(() => prototype.value.assigned_crew?.[level.value-1]);
</script>

<template>
    <v-card>
        <v-card-title>
            <span>{{ prototype.name ?? station_id }}</span>
        </v-card-title>
        <v-card-text v-if="prototype != undefined">
            <!-- #TODO don't repeat code like this -->
            <div v-if="DEBUG" class="d-flex">
                <v-icon icon="fas fa-bug" size="x-small" />
                <div>
                    <p><b>station:</b> {{ station }}</p>
                    <p><b>prototype:</b> {{ prototype }}</p>
                    <p><b>level_prototype:</b> {{ level_prototype }}</p>
                </div>
            </div>
            <div style="display: grid; gap:10px;" :style="{'grid-template-columns':`repeat(${mobile?3:6},1fr)`}">
                <v-text-field
                    v-for="(label, crewtype) in LABELS"
                    :key="crewtype"
                    hide-details="auto"
                    density="compact"
                    type="number"
                    :min="0"
                    :model-value="station[crewtype] || ''"
                    :label="label"
                    @update:model-value="station[crewtype] = parseInt($event || 0)"
                />
            </div>
            <p>
                Total:
                <b class="mono">{{ total_assigned }}</b>
                crew // Level:
                <b class="mono">{{ level }}</b>
            </p>
            <div class="d-flex">
                <NumberChip v-if="level <= 0" name="" color="disabled">
                    /// Insufficient crew - No Buffs ///
                </NumberChip>
                <BuffModule
                    v-if="(level > 0) && level_prototype?.buff"
                    :ship="ship"
                    :scaling="{ volume: 1, crew: total_assigned }"
                    :module="level_prototype.buff"
                />
                <BuffChoiceModule
                    v-if="(level > 0) && level_prototype?.buff_choice"
                    :ship="ship"
                    :scaling="{ volume: 1, crew: total_assigned }"
                    :module="level_prototype.buff_choice"
                />
            </div>
            <!-- <pre>{{ data.combat_stations[station_id] }}</pre> -->
        </v-card-text>
        <v-card-text v-else>
            <p>waiting for network...</p>
            <p class="text-grey">
                if you can finish reading this before it disappears, open a bug
            </p>
        </v-card-text>
    </v-card>
</template>