<script setup>
import { simulate_acceleration, simulate_dv, simulate_ecm, simulate_morale, simulate_resource_delta, simulate_thrust } from "@/simulation";
import { computed } from "vue";
import { round10 } from "expected-round";
// model
import { Ship } from "../../Ship";
// components
import NumberChip from "../NumberChip.vue";

const props = defineProps({
    "ship": Ship,
    "simulation": {
        type: Boolean,
        default: false,
    }
});
defineEmits(["update:simulation"]);

function alt(arg, rounding = null, sign = false) {
    if (arg == undefined) {
        return "[undefined]";
    }
    if (typeof arg == "number" && isNaN(arg)) {
        return "[NaN]";
    }
    if (props.ship.components.length == 0)
        return "--";
    if (arg == null) {
        return "--";
    }
    if (typeof arg == "number") {
        if (rounding == "up") arg = Math.ceil(arg);
        if (rounding == "down") arg = Math.floor(arg);
        if (sign && (arg >= 0))
            return "+" + arg;
        return "" + arg;
    } else {
        return arg.toString();
    }
}

const sim_chip_color = computed(() => {
    if ((props.simulation == false) || (props.ship.components.length == 0))
        return "disabled";
    else
        return "simulation";
});

const simulated_energy = computed(() => simulate_resource_delta(props.ship, "ENERGY"));
const simulated_heat = computed(() => simulate_resource_delta(props.ship, "HEAT"));
const wia_ratio_display = computed(() => {
    let ratio = props.ship.apply_buff(.5, "wia_ratio");
    console.debug("wia_ratio_display, ratio=", ratio);
    return `${round10(ratio*100,0)}:${round10((1-ratio)*100,0)}`;
});

</script>

<template>
    <section id="overview" class="d-flex flex-column">
        <div class="chip-box big">
            <NumberChip name="Volume">
                {{ alt(ship.total_volume()) }}
            </NumberChip>
            <NumberChip name="Mass">
                {{ alt(ship.total_mass()) }}
            </NumberChip>
            <NumberChip name="Cost" prefix="&curren;">
                {{ alt(ship.total_cost(), rounding="up") }}
            </NumberChip>
            <NumberChip name="Crew">
                <span v-if="ship.components.length == 0">--</span>
                <span v-else>
                    <abbr title="total crew quarters">{{ ship.total_crew_quarters() }}</abbr>/<abbr
                        title="crew required to maintain everything, or operate all combat stations, whichever is larger"
                    >{{
                        ship.total_crew_worstcase() || 0
                    }}
                    </abbr>
                </span>
            </NumberChip>
            <NumberChip name="Sensors">
                {{ alt(ship.sensors()) }}
            </NumberChip>
            <NumberChip name="Protection">
                {{ alt(ship.protection()) }}
            </NumberChip>
            <NumberChip name="Jump">
                {{ alt(ship.best_jump()) }}
            </NumberChip>
        </div>
        <div class="chip-box">
            <NumberChip name="Armour Mass" class="d-none d-print-block">
                {{ ship.armour }}
            </NumberChip>
            <NumberChip name="Clear Targeting">
                {{ alt(Math.sqrt(ship.sensors()), rounding="down") }}
            </NumberChip>
            <NumberChip name="Repair Points">
                {{ alt(ship.apply_buff(0, "repair")) }}
            </NumberChip>
            <NumberChip name="WIA:KIA">
                {{ wia_ratio_display }}
            </NumberChip>
        </div>
        <div class="chip-box sim-box big" :data-sim="simulation">
            <v-sheet class="chip d-print-none" :color="ship.components.length == 0 ? 'disabled' : 'simulation'">
                <v-switch
                    inset
                    color="secondary"
                    hide-details="auto"
                    density="compact"
                    label="Simulate"
                    v-bind="simulation"
                    :disabled="ship.components.length == 0"
                    @update:model-value="$emit('update:simulation', $event)"
                />
            </v-sheet>
            <NumberChip :color="sim_chip_color" name="Thrust">
                {{ alt(simulate_thrust(ship)) }}
            </NumberChip>
            <NumberChip :color="sim_chip_color" name="Accel." abbr_title="acceleration">
                {{ alt(simulate_acceleration(ship), rounding = "down") }}
            </NumberChip>
            <NumberChip :color="sim_chip_color" name="&Delta;V" abbr_style="letter-spacing:-4px;">
                {{ alt(simulate_dv(ship)) }}
            </NumberChip>
            <NumberChip :color="sim_chip_color" name="Morale">
                {{ alt(simulate_morale(ship)) }}
            </NumberChip>
            <NumberChip :color="sim_chip_color" name="ECM">
                {{ alt(simulate_ecm(ship), rounding = "down") }}
            </NumberChip>
        </div>
        <div class="chip-box sim-box" :data-sim="simulation">
            <NumberChip :color="sim_chip_color" name="Energy">
                {{ alt(simulated_energy, rounding = "down", sign = true) }}
                <v-icon v-if="simulated_energy < 0" icon="fas fa-warning" size="small" />
            </NumberChip>
            <NumberChip :color="sim_chip_color" name="Heat">
                {{ alt(simulated_heat, rounding = "down", sign = true) }}
                <v-icon v-if="simulated_heat < 0" icon="fas fa-warning" size="small" />
            </NumberChip>
        </div>
    </section>
</template>

<style scoped lang="less">
.chip-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: max-content;
}

@media print {
    .sim-box {
        display: none;
    }

    .sim-box[data-sim=true] {
        display: flex;
    }
}
</style>