<script setup>
import { computed, toRef } from "vue";
//model
import { Ship } from "../../Ship";
import { data } from "../../globals";
//components
import ShipCombatStation from "./ShipCombatStation.vue";

const props = defineProps({
    "ship": {
        type: Ship,
        required: true,
    }
});

const stations = toRef(props.ship, "combat_stations");

const ship_tactical_crew = computed(() => { return props.ship.total_crew().tactical; });

const crew_assigned = computed(() => {
    let sum = {};
    for (let id in data.combat_stations) {
        sum[id] = 0;
        sum[id] += stations.value[id]?.biological ?? 0;
        sum[id] += stations.value[id]?.construct ?? 0;
        sum[id] += stations.value[id]?.infomorph ?? 0;
        sum[id] += stations.value[id]?.mechanical ?? 0;
        sum[id] += stations.value[id]?.brainwashed ?? 0;
        sum[id] += stations.value[id]?.any ?? 0;
    }
    return sum;
});

const total_crew_assigned = computed(() => {
    return Object.values(crew_assigned.value).reduce((prev, current) => prev + current, 0);
});

const crew_available = computed(() => {
    let ship_quarters = props.ship.total_crew_quarters();
    let ship_combat_crew = props.ship.total_crew().strategic;
    let assigned = total_crew_assigned.value;
    return ship_quarters - ship_combat_crew - assigned;
});
</script>

<template>
    <section>
        <h2>Combat Stations</h2>
        <p :class="{ 'text-grey': ship_tactical_crew == 0 }">
            Ship combat crew:
            <b class="mono">{{ ship_tactical_crew }}</b>
        </p>
        <p :class="{ 'text-grey': crew_assigned == 0 }">
            Crew assigned:
            <b class="mono">{{ total_crew_assigned ?? '--' }}</b>
        </p>
        <p>
            Crew available:
            <b class="mono">{{ crew_available }}</b>
        </p>
        <div class="d-flex flex-column">
            <ShipCombatStation
                v-for="station_id in Object.keys(ship.combat_stations)"
                :key="station_id"
                :ship="ship"
                :station_id="station_id"
            />
        </div>
    </section>
</template>