<script setup>
import { computed } from "vue";
import { data } from "../globals.js";

const props = defineProps({
    "ship": {
        type: Object,
        required: true,
    }
});

const type_cache = computed(() => {
    let cache = {};
    for (let id in data.components) {
        let component = data.components[id];
        if (cache[component.type] == undefined)
            cache[component.type] = {};
        cache[component.type][id] = component;
    }
    console.log("type_cache done", cache);
    return cache;
});

function add_by_id(id) {
    let obj = {
        id: id,
        volume: 1,
        armour: false,
    };
    props.ship.add_component(obj);
}
</script>

<template>
    <v-card tag="aside" class="d-print-none">
        <h3>Add Components</h3>
        <v-expansion-panels v-if="type_cache" multiple>
            <v-expansion-panel v-for="(components, type) of type_cache" :key="type">
                <v-expansion-panel-title style="text-transform: uppercase;">
                    {{ type }}
                </v-expansion-panel-title>
                <v-expansion-panel-text>
                    <div class="component-group">
                        <button
                            v-for="(component, id) in components"
                            :key="id"
                            class="uk-button uk-button-default"
                            :title="id"
                            @click="add_by_id(id)"
                        >
                            {{ component.name || id }}
                        </button>
                    </div>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
        <div v-else class="uk-placeholder">
            Loading!
        </div>
    </v-card>
</template>

<style lang="less" scoped>
@import '../assets/variables.less';

aside {
    min-width: 400px;
}

.component-group {
    /* #TODO some widths this doesn't work when you collapse/expand*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: @breakpoint-xlarge) and (min-width: @breakpoint-medium) {
    .component-group {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: @breakpoint-small) {
    aside {
        min-width: unset;
        align-self: stretch;

        .component-group {
            //display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}
</style>