<script setup lang=ts>
import { Document, YAMLMap, parse } from "yaml";
import { computed, ref, unref } from "vue";
import { Ship } from "../Ship";
//components
import { CREW_LABELS, CrewType } from "../globals";
import SampleDropdown from "./SampleDropdown.vue";

const import_dialog = ref(false);
const export_dialog = ref(false);
const import_value = ref("");

const props = defineProps({
    "ship": {
        type: Ship,
        required: true
    }
});

// workaround https://github.com/eemeli/yaml/issues/446
Object.getPrototypeOf(YAMLMap).maxFlowStringSingleLineLength = 2000;

function import_file(event: any) {
    console.log("file dropped", event);
    event[0].text().then(
        (result: string) => {
            import_text(result);
        }
    );
    import_dialog.value = false;
}

function import_text(text: string) {
    if (text == null) {
        console.trace("x_import: text is null!", text);
        alert("text i'm supposed to import is null i have no idea why open an issue please");
        return;
    }
    let parsed = parse(text);
    console.log("parsed", parsed);
    if (parsed == null) {
        console.trace("x_import: yaml parser returned null; input was", text);
        alert("yaml parser returned null; i have no idea why. open an issue please.");
        return;
    }
    if (parsed.type != "ship") {
        alert(`expected type=ship, found type=${parsed.type}`);
        return;
    }
    props.ship.load_ship(parsed);
    import_dialog.value = false;
}

const export_text = computed(() => {
    if (document.getElementById("export-modal")?.style?.display == "none") {
        return "export modal is supposedly closed; not recomputing";
    }

    let root = new Document({
        type: "ship",
        name: props.ship.name || "untitled",
        prefix: props.ship.prefix || undefined,
        callsign: props.ship.callsign || undefined,
        armour: props.ship.armour || 0,
        author: props.ship.author || undefined,
        notes: undefined,
        components: [],
        combat_stations: {},
    });

    if(props.ship.notes){
        let notes = root.createNode(props.ship.notes);
        if("value" in notes) // makes TS happy
            notes.type = "BLOCK_LITERAL";
        root.set("notes", notes);
    }

    for (let c of props.ship.components) {
        // avoid exporting internal stuff
        /** @type {YAMLMap} */
        let tmp = root.createNode({
            id: c.id,
            //type: c.prototype().type,
            volume: c.volume,
            armour: c.armour,
            data: c.data == null ? undefined : c.data
        });
        tmp.flow = true;
        tmp.commentBefore = ` ${c.prototype()?.name ?? c.id} | ${c.mass()}M | $${c.cost()}`;
        root.addIn(["components"], tmp);
    }

    for (let station_id of Object.keys(props.ship.combat_stations)) {
        // hide stations and assignments with no crew
        let assignments: Partial<Record<CrewType, number | undefined>> = {};
        for (let crew_type of CREW_LABELS.keys()) {
            let amount = unref(props.ship.combat_stations[station_id].crew[crew_type]);
            if (amount)
                assignments[crew_type] = amount;
        }
        let total = Object.values(assignments).reduce((prev, current) => prev + current, 0);
        let node = root.createNode(assignments);
        if (Object.values(assignments).length > 1)
            node.comment = ` (total ${total})`;
        if (total > 0)
            root.addIn(["combat_stations", station_id], {
                crew: node,
                data: props.ship.combat_stations[station_id].data
            });
    }
    return root.toString({
        lineWidth: -1,
        minContentWidth: -1,
        indentSeq: false,
        flowCollectionPadding: false,
        defaultKeyType: "PLAIN",
        defaultStringType: "QUOTE_DOUBLE",
    });
});

const filename = computed(() => {
    var filename;
    if(props.ship.name){
        filename = props.ship.name.trim().replace(/[^a-zA-Z0-9]/g, "-");
    } else {
        filename = "untitled";
    }
    if(props.ship.prefix)
        filename = `${props.ship.prefix}-` + filename;
    return filename + ".fwship.txt";
});

function export_download() {
    var element = document.createElement("a");
    element.setAttribute("href", "data:text/plain;charset=utf-8," + encodeURIComponent(export_text.value));
    element.setAttribute("download", filename.value);
    element.style.display = "none";
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}

</script>

<template>
    <section id="import-export" class="d-flex d-print-none flex-column flex-sm-row">
        <v-dialog v-model="import_dialog">
            <template #activator="{ props: trigger }">
                <v-btn variant="outlined" v-bind="trigger">
                    Import
                </v-btn>
            </template>
            <v-card
                class="mx-auto"
                width="1000px"
                min-width="50%"
                max-width="100%"
            >
                <v-card-title class="d-flex">
                    <v-btn :disabled="import_value.length == 0" color="secondary" @click="import_text(import_value)">
                        Import
                    </v-btn>
                    <v-btn
                        color="primary"
                        variant="outlined"
                        icon="fas fa-close"
                        size="x-small"
                        class="ml-auto"
                        @click="import_dialog = false"
                    />
                </v-card-title>
                <v-card-text>
                    <v-file-input
                        clearable
                        show-size
                        label="Click to select, or drag-and-drop file..."
                        @update:model-value="import_file($event)"
                    />
                    <v-textarea
                        v-model="import_value"
                        clearable
                        placeholder="or paste here"
                        class="mono"
                        rows="5"
                        prepend-icon="fas fa-copy"
                    />
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog v-model="export_dialog">
            <template #activator="{ props: trigger }">
                <v-btn variant="outlined" v-bind="trigger">
                    Export
                </v-btn>
            </template>
            <v-card class="mx-auto" width="1000px" min-width="50%" max-width="100%">
                <v-card-title class="d-flex align-center">
                    <v-btn color="secondary" prepend-icon="fas fa-download" @click="export_download">
                        Download
                    </v-btn>
                    <em class="text-grey text-caption">{{ filename }}</em>
                    <v-btn
                        color="primary"
                        variant="outlined"
                        icon="fas fa-close"
                        size="x-small"
                        class="ml-auto"
                        @click="export_dialog = false"
                    />
                </v-card-title>
                <v-card-text>
                    <v-textarea
                        placeholder="your ship data is empty something is probably broken"
                        class="mono"
                        readonly
                        rows="10"
                        :model-value="export_text"
                    />
                </v-card-text>
            </v-card>
        </v-dialog>
        <SampleDropdown :ship="ship" button_variant="outlined"/>
        <v-btn variant="outlined" onclick="print()" append-icon="fas fa-print">
            Print
        </v-btn>
    </section>
</template>
