<script setup lang=ts>
import { computed } from "vue";
import { samples } from "../globals";

const props = defineProps({
    "ship": {
        type: Object,
        required: true
    },
    "class": {
        type: String,
        default: "",
    },
    "button_variant": {
        type: String,
        default: "outlined"
    }
});

// 'class' is reserved and vscode complains if i use it in the template
const claxx = computed(() => props.class);

function foo({ id }) {
    props.ship.load_ship(id);
}
</script>

<template>
    <v-menu>
        <template #activator="{ props: trigger }">
            <v-btn :variant="button_variant" :class="claxx" v-bind="trigger">
                Load Sample...
            </v-btn>
        </template>

        <v-list :items="samples" density="compact" theme="light" @click:select="foo" />
    </v-menu>
</template>

<style scoped>
select {
    width: max-content;
}
</style>