<script setup lang=ts>
import { inject } from "vue";
import { provide } from "vue";
import { reactive } from "vue";
import { ref } from "vue";
import { useDisplay } from "vuetify";
import { watch } from "vue";
//model
import { Ship } from "../Ship";
// components
import ComponentAddWidget from "./ComponentAddWidget.vue";
import ImportExportButtons from "./ImportExportButtons.vue";
import NumberEditor from "./NumberEditor.vue";
import ShipCombatStations from "./ship/ShipCombatStations.vue";
import ShipComponentList from "./ship/ShipComponentList.vue";
import ShipDebug from "./ship/ShipDebug.vue";
import ShipNameEditor from "./ship/ShipNameEditor.vue";
import ShipOverview from "./ship/ShipOverview.vue";

const DEBUG = inject("DEBUG");
const ship = reactive(new Ship());
const simulation = ref(false);
provide("simulation", simulation);

watch(ship, () => {
    if (ship.name && ship.components) {
        document.title = `JSD // ${ship.prefix}${(ship.prefix?" ":"")}${ship.name}`;
    } else {
        document.title = "Junctspace Ship Designer";
    }
});

const { mobile, name } = useDisplay();
</script>

<template>
    <ShipNameEditor v-model:name="ship.name" v-model:prefix="ship.prefix" v-model:callsign="ship.callsign" />
    <ImportExportButtons :ship="ship" />
    <ShipOverview v-model:simulation="simulation" :ship="ship" />

    <section class="d-print-none" style="font-size: 1.25em">
        <p>
            <b>Armour Mass: </b>
            <NumberEditor
                v-model:n="ship.armour"
                :max="ship.total_volume() / 2"
                max_tooltip="Maximum armour mass is half of ship's volume"
            />
        </p>

        <p>
            <b>Faction Morale: <span class="mono">{{ ship._faction_morale }}</span></b>
            <v-slider
                v-model="ship._faction_morale"
                color="secondary"
                min="0"
                max="7"
                step="1"
                show-ticks="always"
                thumb-label
            />
        </p>
    </section>

    <section id="notes ship-notes">
        <v-expansion-panels>
            <v-expansion-panel title="Notes">
                <v-expansion-panel-text>
                    <v-text-field
                        v-model="ship.author"
                        clearable
                        label="Author"
                        hint="Your real name, discord handle, IP address, whatever"
                    />
                    <v-textarea
                        v-model="ship.notes"
                        label="Notes"
                        hint="Write whatever you want"
                        variant="outlined"
                        hide-details
                    />
                    <v-checkbox
                        label="Use markdown (while printing) [#TODO actually implement this]"
                        hide-details
                    />
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
    </section>

    <section v-if="DEBUG">
        <p>mobile: <span class="mono">{{ mobile }}</span></p>
        <p>breakpoint: <span class="mono">{{ name }}</span></p>
        <ShipDebug :ship="ship" />
    </section>

    <ShipComponentList :ship="ship" />
    <ComponentAddWidget :ship="ship" />
    <ShipCombatStations :ship="ship" />
</template>