//@import "../../node_modules/uikit/src/less/uikit.theme.less";
@import './variables.less';


#app {
    margin: 0 auto;

    font-weight: normal;
}

body #app header {
    //background: red;
    //padding: 0 10px;
    //text-align: center;
    border-bottom: 10px solid rgba(var(--v-theme-primary-alt), 1);
    //margin-bottom: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr minmax(1000px, 5fr) 2fr;
    gap: 1em;
    margin: 0 1em;

    &>section {
        grid-column: 2;
        gap: 10px; //for flex and grid
        //max-width: 1200px;
    }

    section#overview {
        // #TODO make this a class instead
        grid-column: 2 / 4;
    }

    &>aside {
        grid-column: 3;
        align-self: start;
        background-color: #333;
        color: #fff;
        border-top-left-radius: 2em !important;
        border-right: 5px solid @global-secondary-background-muted !important;
        padding: 0;

        &>h3 {
            font-style: italic;
            text-align: right;
            padding: 0 10px;
            margin: 10px 0;
        }
    }
}

h1 {
    font-family: "Roboto Slab", Roboto, sans-serif;
    font-weight: 800;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

.section-add-button {
    float: right;
}

h1,
h2,
h3 {
    margin: 0;
}

a[href] {
    color: inherit !important;
}

footer {
    background: @global-secondary-background;
    font-weight: bolder;
    text-align: right;
    margin-top: 1em;
}

.mono {
    font-family: "Fira Code", monospace;
    font-variant-ligatures: discretionary-ligatures;
}

.d-flex {
    gap: 10px;
}
    
/* @media (max-width: @breakpoint-xlarge) {
    main {
        grid-template-columns: 0px 5fr 2fr;
    }
} */

@media (max-width: @breakpoint-xlarge) {
    main {
        grid-template-columns: 1fr 7fr 1fr;

        &>aside,
        &>section {
            grid-column: 2;
        }
    }
}

@media (max-width: @breakpoint-small) {
    main {
        display: flex;
        flex-direction: column;
    }
}

// needs to be at the bottom for whatever reason