@import "../../node_modules/uikit/src/less/components/variables.less";

@inverse-global-color-mode: none;
@global-font-family: "Roboto", sans-serif;
@global-color: #0ff;
@global-primary-color: #000;
@global-primary-color: #000;
@global-emphasis-color: #fff;
@global-muted-color: darken(@global-color, 10%);
@global-inverse-color: #000;

@global-background: #222;
@global-primary-background: #fff;
@global-secondary-background: red;
@global-secondary-background-muted: darken(@global-secondary-background, 20%);
@global-muted-background: #444;


@inverse-global-color-mode: dark;
@global-inverse-color: #000;
@inverse-global-color: #000;
@inverse-global-inverse-color: #0ff;
@inverse-global-primary-background: #fff;