<script setup lang=ts>
import { provide, ref } from "vue";
import { useDisplay } from "vuetify";

// components
import ShipEditor from "./components/ShipEditor.vue";

const WEB_GIT_DESCRIBE = ""; //__WEB_GIT_DESCRIBE__; // eslint-disable-line no-undef
const META_GIT_DESCRIBE = ""; //__META_GIT_DESCRIBE__; // eslint-disable-line no-undef

const DEBUG = ref(false);
const theme = ref("dark");

provide("DEBUG", DEBUG);

const { mobile } = useDisplay();
</script>

<template>
    <v-app :theme="theme">
        <v-toolbar class="d-flex d-print-none mb-3" color="primary">
            <v-toolbar-title id="main-title">
                JUNCTSPACE SHIP DESIGNER
            </v-toolbar-title>
            <div>
                <span>
                    <v-btn
                        v-if="DEBUG == false"
                        icon="fas fa-bug"
                        @click="DEBUG = true"
                    />
                    <v-btn
                        v-else
                        icon="fas fa-bug-slash"
                        @click="DEBUG = false"
                    />
                </span>
                <span>
                    <v-btn
                        v-if="theme == 'dark'"
                        icon="fas fa-moon"
                        @click="theme = 'light'"
                    />
                    <v-btn
                        v-else
                        icon="fas fa-sun"
                        @click="theme = 'dark'"
                    />
                </span>
            </div>
            <v-tabs v-if="!mobile" tabindex="0">
                <!-- #TODO move to own component -->
                <v-tab value="ship">
                    Ship
                </v-tab>
                <v-tab disabled value="fleet">
                    Fleet
                </v-tab>
                <v-tab disabled value="faction">
                    Faction
                </v-tab>
                <v-tab disabled value="vtt">
                    VTT
                </v-tab>
            </v-tabs>
            <template v-if="mobile" #extension>
                <v-spacer />
                <!-- #TODO move to own component -->
                <v-tabs tabindex="0">
                    <v-tab value="ship">
                        Ship
                    </v-tab>
                    <v-tab disabled value="fleet">
                        Fleet
                    </v-tab>
                    <v-tab disabled value="faction">
                        Faction
                    </v-tab>
                    <v-tab disabled value="vtt">
                        VTT
                    </v-tab>
                </v-tabs>
                <v-spacer />
            </template>
        </v-toolbar>

        <main>
            <ShipEditor />
        </main>

        <v-sheet tag="footer" class="d-print-none mt-6" color="primary">
            <!-- #TODO: put this link in a variable or something -->
            <v-card-text class="d-flex align-center">
                <v-btn
                    prepend-icon="mdi mdi-alert-octagon"
                    size="large"
                    href="https://gitlab.com/SIGSTACKFAULT/fleetwright-web-designer/-/issues/new"
                >
                    Report Bug
                </v-btn>
                <v-spacer />
                <v-icon icon="fa-brands fa-git-alt" size="x-large" />
                <div
                    class="pr-3"
                    style="display:grid; grid-template-columns: max-content max-content; gap:0 5px; border-right: 2px solid white;"
                >
                    <a href="https://gitlab.com/SIGSTACKFAULT/fleetwright-web-designer/" target="_new">
                        fleetwright-web-designer:
                    </a>
                    <p>{{ WEB_GIT_DESCRIBE }}</p>
                    <a href="https://gitlab.com/SIGSTACKFAULT/fleetwright-meta/" target="_new">
                        fleetwright-meta:
                    </a>
                    <p>{{ META_GIT_DESCRIBE }}</p>
                </div>
                <a href="https://vuejs.org" target="_new">
                    <v-icon icon="fa-brands fa-vuejs" size="x-large" />
                </a>
                <!-- #TODO: material icon (does it even have one?) -->
                <!-- #TODO: vuetify 3 icon -->
            </v-card-text>
        </v-sheet>
    </v-app>
</template>

<style scoped lang="less">
#main-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}
</style>