<script setup>
import { computed } from "vue";
import { ref } from "vue";
// model
import { Ship } from "../../../Ship";
// components
import BuffModule from "./BuffModule.vue";

const props = defineProps({
    ship: {
        type: Ship,
        required: true
    },
    module: {
        type: Array,
        required: true
    },
    scaling: {
        type: Object,
        required: true,
    },
/*     choice_index: {
        type: Number,
        required: true
    } */
});

const choice_index = ref(0);

const selection = computed(() => props.module[choice_index.value]);

function update_selection(index){
    choice_index.value = index;
    console.log("update_selection", choice_index.value, selection);
    // emit
}

</script>

<template>
    {{ module[selection] }}
    <v-select v-model="selection" :items="module">
        <template #item="{ item, index }">
            <v-list-item @click="update_selection(index)">
                <BuffModule :ship="ship" :module="item.value" :scaling="scaling" :active="false" />
            </v-list-item>
        </template>
        <template #selection="{item}">
            <BuffModule :ship="ship" :module="item.value" :scaling="{volume:1, crew:1}" :active="false" />
        </template>
    </v-select>
</template>