<script setup>
import { computed } from "vue";
//components
import NumberChip from "../../NumberChip.vue";
import ShipModule from "../ShipModule.vue";
//model
import { Component } from "../../../Component";
import { Ship } from "../../../Ship";
import { simulate_morale } from "../../../simulation";

const props = defineProps({
    ship: Ship,
    component: Component,
    module: Object,
});

if (props.component.data.level == undefined) {
    props.component.set_data({ level: 1 });
}

const current_level = computed(() => props.component.data.level);

const current_level_is_valid = computed(() => {
    return (props.module.levels[(props.component.data.level ?? 1)].min_morale ?? 0) <= simulate_morale(props.ship);
});
</script>

<template>
    <v-menu open-on-hover :close-on-content-click="false" close-delay="10000">
        <template #activator="{ props }">
            <v-btn
                :color="current_level_is_valid ? 'secondary' : 'warning'"
                v-bind="props"
                :append-icon="`fas ${current_level_is_valid ? 'fa-angle-right' : 'fa-warning'}`"
            >
                Level {{ current_level }}
            </v-btn>
        </template>
        <v-list bg-color="simulation">
            <v-list-item>
                * Ship has <span class="mono">{{ simulate_morale(ship) }}</span> morale
            </v-list-item>
            <v-list-item v-if="!current_level_is_valid">
                <v-card color="warning">
                    <v-card-text>
                        <v-icon icon="fas fa-warning" />
                        <b>
                            Insufficient morale for this level
                        </b>
                    </v-card-text>
                </v-card>
            </v-list-item>
            <v-list-item v-for="(level, i) in module.levels" :key="i">
                <v-card
                    variant="outlined"
                    min-width="400px"
                    :disabled="(level.min_morale != undefined) && (simulate_morale(ship) < level.min_morale)"
                >
                    <v-card-title class="d-flex">
                        <span>Lv. {{ i }}</span>
                        <span v-if="level.min_morale">
                            [<span class="mono">&GreaterEqual;{{ level.min_morale }}</span> morale]
                        </span>
                        <v-btn
                            v-if="(current_level) != i"
                            class="ml-auto"
                            color="secondary"
                            @click="component.set_data({ level: i })"
                        >
                            select
                        </v-btn>
                        <v-btn v-else class="ml-auto" color="surface" disabled>
                            selected
                        </v-btn>
                    </v-card-title>
                    <v-card-text class="d-flex">
                        <!-- TODO standardize these somehow -->
                        <!-- like maybe <ModuleChip> or something -->
                        <NumberChip v-if="level.crew" name="Crew">
                            +{{
                                Math.max(
                                    (level.crew.strategic?.base ?? 0) + (level.crew.strategic?.per_volume ?? 0) *
                                        component.volume,
                                    (level.crew.tactical?.base ?? 0) + (level.crew.tactical?.per_volume ?? 0) *
                                        component.volume,
                                )
                            }}
                        </NumberChip>
                        <!-- #TODO DON'T DO THIS -->
                        <ShipModule
                            :ship="ship"
                            :component="component"
                            :module="level.buff"
                            name="buff"
                            :index="0"
                        />
                    </v-card-text>
                </v-card>
            </v-list-item>
        </v-list>
    </v-menu>
</template>