<script setup>
//vue
import { computed, inject, reactive, ref } from "vue";
import { useDisplay } from "vuetify";
//model
import { Component } from "../../../Component";
import { Ship } from "../../../Ship";
import { data } from "../../../globals";

const props = defineProps({
    ship: {
        type: Ship,
        required: true
    },
    component: {
        type: Component,
        required: true
    },
    module: {
        type: Object,
        required: true
    },
    module_enabled: {
        type: Boolean,
        required: true
    },
});
defineEmits(["update:module_enabled"]);

const DEBUG = inject("DEBUG");
const simulation = inject("simulation");
const { mobile } = useDisplay();
const dialog_state = ref(false);

if (!Array.isArray(props.component.data)) {
    // we were just created
    props.component.set_data([]);
}

/** @type {Array} */
const missiles = reactive(props.component.data);
const max_missiles = computed(() => {
    switch (props.module.size) {
        case "heavy":
            return props.component.volume;
        case "light":
            return props.component.volume * 8;
    }
    return NaN;
});

if (missiles.length == 0) {
    add_missile();
    missiles[0].count = max_missiles;
}

/**
 * the "+ add missile" button
 */
function add_missile() {
    missiles.push({
        guidance: "command_guidance",
        payload: "kinetic",
        propulsion: "none",
        count: 1,
    });
}

function single_missile_price(missile) {
    return (
        + data.missiles.guidance[missile.guidance].price[props.module.size]
        + data.missiles.payload[missile.payload].price[props.module.size]
        + data.missiles.propulsion[missile.propulsion].price[props.module.size]
    );
}

function missile_price(missile) {
    return single_missile_price(missile) * missile.count;
}

const all_missile_price = computed(() => {
    return missiles.reduce((prev, current) => prev + missile_price(current), 0);
});
</script>

<template>
    <v-switch
        hide-details="auto"
        density="compact"
        color="simulation"
        :disabled="!simulation"
        v-bind="module_enabled"
        @update:model-value="$emit('update:module_enabled', $event)"
    >
        <template #label>
            Guided Weapon:&nbsp;<b class="mono">{{ module.active.ENERGY * component.volume }}</b>&nbsp;energy/shot
        </template>
    </v-switch>
    <div class="d-flex">
        <v-dialog
            v-model="dialog_state"
            :close-on-content-click="false"
            :fullscreen="mobile"
        >
            <template #activator="{ props: trigger }">
                <v-btn
                    color="secondary"
                    append-icon="fas fa-angle-right"
                    v-bind="trigger"
                >
                    Missiles&nbsp;
                    <b class="mono">
                        {{ missiles.reduce((prev, current) => prev + current.count, 0) }}/{{ max_missiles }}
                    </b>
                </v-btn>
            </template>
            <v-list>
                <v-list-item v-if="DEBUG">
                    module:
                    <pre>{{ module }}</pre>
                    missiles:
                    <pre>{{ missiles }}</pre>
                    component.data:
                    <pre>{{ component.data }}</pre>
                </v-list-item>
                <v-list-item>
                    <div class="d-flex align-center">
                        <v-btn
                            variant="elevated"
                            color="primary"
                            prepend-icon="fas fa-add"
                            @click="add_missile()"
                        >
                            add
                            missile
                        </v-btn>
                        <v-spacer />
                        <b>{{ component.prototype().name ?? component.id }}</b>
                        <v-spacer />
                        <v-btn
                            variant="plain"
                            @click="dialog_state = false"
                        >
                            CLOSE
                        </v-btn>
                    </div>
                    <v-spacer />
                    <b class="mono">{{ missiles.reduce((prev, current) => prev + current.count, 0) }}/{{ max_missiles }}</b>
                    &bull;
                    <b class="mono">&curren;{{ all_missile_price }}</b>
                    <p>
                        for some reason you have to open and close these dropdowns once for them to work i have no idea why
                    </p>
                </v-list-item>
                <v-list-item
                    v-for="(missile, i) in missiles"
                    :key="missile"
                >
                    <v-card variant="outlined">
                        <v-card-text>
                            <div class="d-flex align-center">
                                <v-select
                                    v-model="missile.guidance"
                                    label="Guidance"
                                    hint="required"
                                    persistent-hint
                                    :items="Object.keys(data.missiles.guidance)"
                                >
                                    <template #item="{ item }">
                                        <v-list-item @click="missile.guidance = item.value">
                                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                                            <v-list-item-subtitle>
                                                &curren;{{
                                                    data.missiles.guidance[item.value].price[module.size]
                                                }}
                                            </v-list-item-subtitle>
                                        </v-list-item>
                                    </template>
                                </v-select>
                                <v-select
                                    v-model="missile.payload"
                                    label="Payload"
                                    hint="required"
                                    persistent-hint
                                    :items="Object.keys(data.missiles.payload)"
                                >
                                    <template #item="{ item }">
                                        <v-list-item @click="missile.guidance = item.value">
                                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                                            <v-list-item-subtitle>
                                                &curren;{{
                                                    data.missiles.payload[item.value].price[module.size]
                                                }}
                                            </v-list-item-subtitle>
                                        </v-list-item>
                                    </template>
                                </v-select>
                                <v-select
                                    v-model="missile.propulsion"
                                    label="Propulsion"
                                    hint="optional"
                                    persistent-hint
                                    :items="Object.keys(data.missiles.propulsion)"
                                >
                                    <template #item="{ item, }">
                                        <v-list-item @click="missile.guidance = item.value">
                                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                                            <v-list-item-subtitle>
                                                &curren;{{
                                                    data.missiles.propulsion[item.value].price[module.size]
                                                }}
                                            </v-list-item-subtitle>
                                        </v-list-item>
                                    </template>
                                </v-select>
                                <v-select
                                    v-model="missile.count"
                                    label="Count"
                                    :hint="`1-${component.volume}`"
                                    persistent-hint
                                    :items="[...Array(max_missiles + 1).keys()]"
                                />
                                <v-btn
                                    icon="fas fa-remove"
                                    variant="plain"
                                    @click="missiles.splice(i, 1)"
                                />
                            </div>
                            <p>
                                <b class="mono">&curren;{{ single_missile_price(missile) }}</b>/missile &times;
                                <b class="mono">{{ missile.count }}</b> missiles =
                                <b class="mono">&curren;{{ missile_price(missile) }}</b>
                            </p>
                        </v-card-text>
                    </v-card>
                </v-list-item>
                <v-list-item v-if="missiles.length == 0">
                    <v-card
                        variant="outlined"
                        color="warning"
                    >
                        <v-card-text>
                            no missiles!
                        </v-card-text>
                    </v-card>
                </v-list-item>
            </v-list>
        </v-dialog>
    </div>
</template>